<article class="preview">
  <header>
    <h3>Article Title</h3>
  </header>
  <section>
    <img src="https://images1.apartments.com/i2/zR6vhLC1HrX5axzvbBTga6aqjNS4E-jh5wMsm2gyMRI/110/cleveland-oh-the-historic-cleveland-arcade-opened-in-.jpg" alt="" style="width: 400px;" class="thumbnail"/>
    <div class="overlay">
      <h4>Author Name <span class="pull-right">4/11/2017 08:56 EST</span></h4>
      <p style="margin: 0;">Comments: 0 | [ ][ ][ ]</p>
      <hr style="margin: 0 0 10px 0;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span class="def-continue"><a href="#" class="pull-right" style="padding: 0 10px 0 0;">Continue reading...</a></span></p>
      <a href="#" class="pull-right mob-continue" style="padding: 0 10px 0 0;">Continue reading...</a>
    </div>
  </section>
</article>