<section class="container-fluid">
  <main class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <h2 style="text-align: center;">HIGHEST RATED</h2>
        </div>
        <app-newest-preview class="col-xs-12"></app-newest-preview>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h2 style="text-align: center;">RECENTLY PUBLISHED</h2>
            </div>
          </div>
          <div class="row">
            <app-preview class="col-xs-12 col-sm-6"></app-preview>
            <app-preview class="col-xs-12 col-sm-6"></app-preview>
          </div>
          <div class="row">
            <app-preview class="col-xs-12 col-sm-6"></app-preview>
            <app-preview class="col-xs-12 col-sm-6"></app-preview>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
<section class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 style="text-align:center;">MORE ARTICLES</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <app-preview class="col-xs-12 col-sm-3"></app-preview>
        <app-preview class="col-xs-12 col-sm-3"></app-preview>
        <app-preview class="col-xs-12 col-sm-3"></app-preview>
        <app-preview class="col-xs-12 col-sm-3"></app-preview>
      </div>
    </div>
  </div>
</section>
